body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  font-family: 'Rubik', sans-serif;
}

#game-word {
  font-size: 7em;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 0.25em 0 0.5em 0;
}

.title {
  font-size: 2.5em;
}

.header-container {
  text-align: center;
  width: 50%;
  padding: 0.25em;
  margin: 2em auto;
  border-radius: 1em;
  background-color: rgb(230, 230, 230);
}

.heading {
  font-size: 5em;
}

.timer {
  margin-top: 0.25em;
}

.score {
  font-size: 3em;
}

.level-text{
  font-size: 3em;
}

.main-container {
  text-align: center;
  height: 30em;
  width: 75%;
  padding: 1em;
  margin: auto;
  border-radius: 1em;
  background-color: rgb(230, 230, 230);
}

.introduction {
  font-size: 2em;
  margin-bottom: 2em;
}

.start-button {
  height: 2em;
  font-size: 2em;
  width: 30%;
  border-radius: 0.5em;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

.colour-button {
  height: 2em;
  font-size: 2em;
  width: 30%;
  border-radius: 0.5em;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

.timer {
  font-size: 3em;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
