body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  font-family: 'Rubik', sans-serif;
}

.header-container {
  text-align: center;
  width: 50%;
  padding: 0.25em;
  margin: 2em auto;
  border-radius: 1em;
  background-color: rgb(230, 230, 230);
}

.main-container {
  text-align: center;
  height: 500px;
  width: 75%;
  padding: 1em;
  margin: auto;
  border-radius: 1em;
  background-color: rgb(230, 230, 230);
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
